body {
  background-color: #f4f4f4;
  color: #555555;

  font-family: Comic Sans MS;
  font-size: 20px;
  font-weight: bolder;
  line-height: 2em;

  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
  color: cyan;
}

a:active{
  color:coral;
}

.container {
  width: 90%;
  margin: auto;
}

.box {
  background-color: white;
  color: #ffffff;

  border: 5px coral solid;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  margin: 20px;
}
.clr {
  clear: both;
}

.box h1 {
  font-family: Times New Roman;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  word-spacing: normal;
}

.categories {
  border:1px #000000 dotted;
  padding: 10px;
  border-radius: 15px;
}

.button {
  background-color: #799be6;
  color: #fff;
  padding: 10px;
  width: 190px;
  cursor: pointer;
  transition: .5s ease;
  border-radius: 10px;
}

.button:hover{
  background-color: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #799be6 inset,
              0 0 10px 4px #766be6;
  border-radius 10px;
}

.categories h2 {
  text-align: center;
}

.categories li {
  text-decoration: underline;
}

.form {
  padding: 20px
}

.form .group {
  padding-bottom: 15px;
}

.form label{
  display: block;
}

.form input[type="text"], .form textarea {
  padding: 10px;
  width: 80%;
}

.block {
  float: left;
  width:33.3%;
  background-color: red;
  padding-left: 10px;
  color: cyan;
  border: 1px cyan solid;
  border-radius: 15px;
  box-sizing: border-box;
}

#main {
  float: left;
  width: 70%;
  box-sizing: border-box;
}
#sidebar {
  float: right;
  width: 30%;
  border:3px red solid;
  border-radius: 15px;
  background-color: green;
  color: white;
  padding: 5px;
  box-sizing: border-box;
}
